.resume {
	max-width: 768px;
	padding: 0 10px;
	margin: 20px auto 40px;
	overflow-x: hidden;
}

.resumeHeader {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	gap: 20px;
}

.resumeMeta {
	flex: 1;
	min-width: 420px;
}

.resumeTitle {
	margin: 0;
	flex-direction: column;
	gap: 0;
	line-height: 1.4;
}

.resumeImg {
	max-width: 220px;
	height: auto;
}

.resumeDescription {
	font-size: 17px;
}

.download {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9;
}

.section {
	border-bottom: 2px solid var(--ifm-color-secondary);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.sectionList {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.showStackButton {
	padding: 0 5px;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: dotted;
	letter-spacing: 1.5px;
}

.job {
	margin-bottom: 10px;
}

.jobRole {
	margin: 5px 0;
}

.jobHead {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0;
	color: var(--ifm-color-secondary-contrast-foreground);
}

.jobCompany {
	margin-right: 14px;
	font-weight: 500;
}

.jobDates {
	position: relative;
	padding-left: 24px;
}

.jobDates::before {
	content: '•';
	position: absolute;
	left: 0;
}

.jobTechList {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	margin: 5px 0 10px;
}

.jobTechItem {
	font-size: 14px;
	cursor: default;
	padding: 0;
	border: 0;
	text-decoration: underline;
}
