.resume {
	max-width: 768px;
	padding: 0 10px;
	margin: 20px auto 40px;
}

.resume__header {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	gap: 20px;
}

.resume__meta {
	flex: 1;
	min-width: 420px;
}

.resume__title {
	margin: 0;
	flex-direction: column;
	gap: 0;
	line-height: 1.4;
}

.resume__img {
	max-width: 220px;
	height: auto;
}

.resume__description {
	font-size: 17px;
}

.download {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9;
}

.section {
	border-bottom: 2px solid var(--ifm-color-secondary);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.section__list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.showStackButton {
	padding: 0 5px;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: dotted;
	letter-spacing: 1.5px;
}

.job {
	margin-bottom: 10px;
}

.job__role {
	margin: 5px 0;
}

.job__co {
	display: flex;
	align-items: center;
	gap: 10px;
	opacity: 0.8;
}

.job__techList {
	padding: 10px 0;
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
}

.job__techItem {
	border: 1px solid var(--ifm-color-secondary);
	padding: 5px 10px;
	border-radius: 50px;
	font-size: 13px;
	cursor: default;
}
