.resume {
	max-width: 900px;
	padding: 0 10px;
	margin: 20px auto 40px;
	overflow-x: hidden;
}

.resumeHeader {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	gap: 20px;
}

.resumeMeta {
	flex: 1;
	min-width: 420px;
}

.resumeTitle {
	margin: 0;
	flex-direction: column;
	gap: 0;
	line-height: 1.4;
}

.resumeImg {
	max-width: 220px;
	height: auto;
}

.resumeDescription {
	font-size: 17px;
}

.download {
	position: fixed;
	right: 10px;
	bottom: 40px;
	z-index: 9;
	background: var(--ifm-color-primary);
	stroke: #fff;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.download svg {
	width: 24px;
	height: 24px;
}

.section {
	border-bottom: 2px solid var(--ifm-color-secondary);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.sectionList {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.showStackButton {
	padding: 0 5px;
	cursor: pointer;
	text-decoration: underline;
	text-decoration-style: dotted;
	letter-spacing: 1.5px;
}

.jobRole {
	font-size: var(--ifm-h2-font-size);
	margin-bottom: 0;
	color: var(--ifm-color-primary);
}
.jobCompany {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 5px 0;
}
.jobDesc {
	margin-bottom: 10px;
	color: var(--ifm-color-emphasis-800);
}
.jobDates {
	position: relative;
	padding-left: 20px;
}
.jobDates::before {
	content: '•';
	position: absolute;
	left: 0;
}
.jobSkills {
	display: flex;
	gap: 5px;
	flex-wrap: wrap;
	margin: 5px 0 10px;
}
.jobSkill {
	color: var(--ifm-color-emphasis-700);
	font-size: 14px;
	cursor: default;
	padding: 0;
	border: 0;
	text-decoration: underline;
}

.resumeStatus {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: var(--ifm-color-primary);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 24px;
	cursor: default;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}
.skill {
	text-transform: capitalize;
	border: 1px solid var(--ifm-color-secondary-darkest);
	border-radius: 4px;
	padding: 4px;
	line-height: 1;
	font-weight: 500;
	cursor: default;
}
